// 正常状态
.primary-color-normal {
  :global {
    .ant-btn-default{
      border-radius: 5px;
      color: #1890ff;
      background: #e8f4ff;
      border-color: #a3d3ff;
    }
    .ant-btn-default:hover {
      background: #1890ff;
      color: white;
    }
  }

}
// 禁用状态
.primary-color-disabled {
  :global {
    .ant-btn-default{
      border-radius: 5px;
      color: #1890ffa6;
      background: #e8f4ff;
      border-color: #c4e3ff;
    }
    .ant-btn-default:hover{
      color: #1890ffa6;
      background: #e8f4ff;
    }
  }
}


.success-color-btn {
  :global {
    .ant-btn-default{
      border-radius: 5px;
      color: #13ce66;
      background-color: #e7faf0;
      border-color: #a1ebc2;
    }
    .ant-btn-default:hover{
      background: #71e2a3;
      color: white;
    }
  }
}
.success-color-disabled {
  :global {
    .ant-btn-default{
      border-radius: 5px;
      color: #71e2a3;
      background-color: #e7faf0;
      border-color: #d0f5e0;
    }
    .ant-btn-default:hover{
      color: #71e2a3;
      background-color: #e7faf0;
    }
  }
}

.danger-color-btn {
  :global{
    .ant-btn-default{
      border-radius: 5px;
      color: #ff4949;
      background-color: #ffeded;
      border-color: #ffb6b6;
    }
    .ant-btn-default:hover {
      background: #ff4949;
      color: white;
    }
  }
}
.danger-color-disabled {
  :global{
    .ant-btn-default{
      border-radius: 5px;
      color: #ff9292;
      background-color: #ffeded;
      border-color: #ffdbdb;
    }
    .ant-btn-default:hover {
      color: #ff9292;
      background-color: #ffeded;
    }
  }
}

.info-color-btn {
  :global{
    .ant-btn-default{
      border-radius: 5px;
      color: #909399;
      background: #f4f4f5;
      border-color: #d3d4d6;
    }
    .ant-btn-default:hover {
      border-radius: 5px;
      background: #909399;
      color: white;
    }
  }
}
.info-color-disabled {
  :global{
    .ant-btn-default{
      border-radius: 5px;
      color: #bcbec2;
      background: #f4f4f5;
      border-color: #e9e9eb;
    }
    .ant-btn-default:hover {
      color: #bcbec2;
      background: #f4f4f5;
    }
  }
}

.warning-color-btn {
  :global{
    .ant-btn-default{
      border-radius: 5px;
      color: #ffba00;
      background: #fff8e6;
      border-color: #ffe399;
    }
    .ant-btn-default:hover {
      background: #ffba00;
      color: white;
    }
  }
}
.warning-color-disabled {
  :global{
    .ant-btn-default{
      border-radius: 5px;
      color: #f0c78a;
      background: #fdf6ec;
      border-color: #faecd8;
    }
    .ant-btn-default:hover {
      color: #f0c78a;
      background: #fdf6ec;
    }
  }
}

